@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply p-0 m-0
}

*body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
:root {
    --custom-height: calc(100vh - 5rem);
  }

  .valid-height{
    min-height: var(--custom-height);
  }
#horizontal-scroll{
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  